<!-- Config file for the game -->

<config>
  <app framerate_cap="">
    <title>Pathfinding Test</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <font>
    <default_font file="fonts/open_sans/OpenSans-Regular.ttf" size="12"/>
  </font>

  <gui>
    <default_atlas texture="gui/gui_atlas_default.png" rects="gui/gui_atlas_default_rects.xml"/>
    <over_atlas texture="gui/gui_atlas_over.png" rects="gui/gui_atlas_over_rects.xml"/>
    <fire_atlas texture="gui/gui_atlas_fire.png" rects="gui/gui_atlas_fire_rects.xml"/>
  </gui>
    
  <window>
    <resolution width="1280" height="720" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

</config>